html {
    min-width: 600px;
    min-height: 600px;
    height: 100%;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    height: 100%;
}

#chat-header {
    background: #FCCCCC;
    color: white;
    position: relative;
    overflow: hidden;
    height: 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#header-title {
    display: inline-block;
    padding: 5px 8px 5px 12px;
    font-size: 3vh;
    position: relative;
}

#header-settings {
    position: relative;
    padding: 5px 12px 5px 8px;
    font-size: 3vh;
    cursor: pointer;
    float: right;
}

#left {
    float: left;
}

#right {
    float: right;
}

#chat-header::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(#fbb9b9, #FCCCCC);
    animation: pulse 1s ease alternate infinite;
}

#chat-header > * {
    position: relative;
}

@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

#chat-sidebar {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
    width: 15%;
    float: left;
}

#chat-container {
    display: flex;
    flex-flow: column;
    vertical-align: top;
    width: 80%;
    height: 95%;
    float: right;
    border-left: 1px black solid;
}

#message-box {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 50px 10px 60px 10px;
    overflow-y: auto;
    flex: 1 1 auto;
}

#message-box li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

#message-box .avatar-icon {
    width: 40px;
    height: 40px;
    position: relative;
}

#message-box .avatar-icon img {
    display: block;
    width: 100%;
    background-color: #FCCCCC;
}

.another .avatar-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.me {
    justify-content: flex-end;
    align-items: flex-end;
}

.me .messages {
    order: 1;
    border-bottom-right-radius: 0;
}

.me .avatar-icon {
    order: 2;
}

.me .avatar-icon:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

#input-box {
    background: #FFF;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 80%;
}

#input-box input {
    border: 0;
    padding: 10px;
    width: 85%;
    margin-right: .5%;
    float:left;
}

#input-box button {
    width: 10%;
    background: #FCCCCC;
    border: none;
    padding: 10px;
    float:right;
}