body {
    background: #FCCCCC;
    color: #000000;
    font-family: Bowlby One;
    padding: 0;
    margin: 0;
    min-width: 600px;
    min-height: 600px;
}

header {
    position: fixed;
    z-index: 1;
    background: #000000;
    color: #FCCCCC;
    margin: 0 auto;
    width: 100%;
    min-width: 600px;
    text-align: center;
}

header nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header nav #home {
    padding-left: 20px;
    text-decoration: none;
    color: #FCCCCC;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #FCCCCC;
}

section {
    padding-top: 60px;
}

section #subtitle {
    padding-top: 5%;
    text-align: center;
}

section .home {
    padding-top: 1%;
    text-align: center;
}

section .words {
    padding-top: 1%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

section .stats {
    padding-top: 1%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

section .news {
    padding-top: 1%;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

section .news .title {
    font-size: larger;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

section .news .signoff {
    font-size: x-small;
    margin: 0;
    padding: 0;
    text-align: left;
}

section .news hr {
    height: 2px;
    border-width: 0;
    color: #000000;
    background-color: gray;
}

section .login {
    padding-top: 1%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

section .login .g-signin2{
    width: 100%;
}

section .login .g-signin2 div {
    margin: 0 auto;
}

section .contact {
    padding-top: 1%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

section .first {
    padding-top: 10%;
}

section .last {
    padding-bottom: 10%;
}

section a {
    text-decoration: none;
    color: #000000;
}

footer {
    bottom: 0;
    position: fixed;
    z-index: 1;
    background: #000000;
    color: #FCCCCC;
    margin: 0 auto;
    width: 100%;
    min-width: 600px;
    text-align: center;
}

footer nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

footer nav #tnelson {
    padding-left: 20px;
    text-decoration: none;
    color: #FCCCCC;
}

footer nav ul {
    list-style: none;
    padding: 0 17px 0 0;
}

footer nav ul li {
    display: inline;
    margin: 0 3px;
}

footer nav ul li a {
    text-decoration: none;
    color: #FCCCCC;
}

a:hover {
    text-decoration: underline;
}